
$mainBlack:#212121;
$mainGreen:#00897b;
$mainLight:#e4fdf9;
$mainGrey:#f0f1f1;
$mainBlue:#3949ab;

$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;


$screen-s-max: 767px;
$screen-m-max: 991px;
$screen-l-max: 1199px;


body {
  font-family: Arial sans-serif;
  padding: 0;
  margin: 0;
}

.nav-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &__logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
  }

  &__menu {
    display: flex;

    & li {
      list-style: none;
      margin-left: 38px;
    }

    & a {
      text-decoration: none;
      color: gray;
      font-size: 18px;
    }

    & a:hover {
      color: $mainGreen;
      transition: .4s;
    }
  }
}

.section-external {
  padding-left: 15px;
  padding-right: 15px;
}

.section-internal {
  max-width: 1170px;
  margin: 0 auto;


}

.section-header {
  color: white;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;

  .section-internal {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 24, 38, .6);


  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 35px;
    }

    &__subtitle {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 90px;
    }

    &__form {
      display: flex;
      justify-content: center;

      &-button {
        border: 2px solid white;
        padding: 15px 20px;
        margin: 0 13px;
      }

      &-button-active {
        border: none;
        padding: 15px 20px;
        margin: 0 13px;
        background-color:$mainGreen;
      }

      & a {
        text-decoration: none;
        color: white;
      }

    }
  }

}

.section-about {
  margin-bottom: 120px;

  &-title {
    margin-top: 110px;
    text-align: center;
    font-size: 28px;
  }

  &-subtitle {
    margin-top: 38px;
    text-align: center;
    font-size: 22px;

  }

}

.section-about-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item-title {
  margin-top: 28px;
  font-size: 22px;

}

.item-subtitle {
  margin-top: 16px;
  font-size: 18px;
  text-align: center;

}

.section-latest-works {
  background-color:$mainLight;
  text-align: center;
  padding-bottom: 20px;
}

.works-button {
  display: flex;
  justify-content: space-around;

  &__item {
    text-decoration: none;
    color:$mainBlack;
    border: 2px solid $mainGreen;
    padding: 10px 15px;
  }

  &__item-action {
    background-color: $mainGreen;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
  }
}

.section-plans {
  padding: 125px 0;
  text-align: center;
  background-color: $mainGrey;

  &__title,
  &__subtitle {
    color:$mainBlack;
  }

  &__title {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 120px;
  }

  &__list {
    display: flex;


    &-item {
      flex-basis: 370px;
      padding: 45px 60px;

      &_title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 40px;
      }

      &_price {
        .pref {
          color: $mainBlue;
          font-size: 50px;
          font-weight: bold;
        }

        .post {
          color: $mainBlue;
          font-size: 17px;
        }

      }

      &_description {
        font-size: 17px;
        margin-bottom: 40px;
      }

      &_button {
        & a {
          text-decoration: none;
          border: 2px solid;
          padding: 10px 15px;
          color: $mainBlack;
          transition: .4s;
        }

        & a:hover {
          text-decoration: none;
          border: 2px solid;
          padding: 10px 15px;
          color: $mainBlack;
          background-color: $mainGreen;
        }

      }
    }
    @media (max-width:$screen-s-max) {
      flex-direction: column;
    }
  }
}

.section-blog {
  &__title,
  &__subtitle {
    text-align: center;
  }

  padding: 125px 0;
  background-color: $mainLight;

  &__title {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 120px;
  }

  &__item {
    display: flex;

    &-image {
      img {
      max-width: 575px;
      }

    }

    &-title {
      padding-top: 62px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      transition: .3s;

      &:hover {
        color: $mainGreen;
      }
    }

    &-subtitle {
      padding: 60px 30px;
      font-size: 15px;
    }
    @media (max-width:$screen-s-max) {
      flex-direction: column;
      align-items: center;
    }
  }

}

.section-contact {
  color: $mainBlack;
  background-color: $mainGrey;
  padding: 125px 0;

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__title {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 80px;
  }

  &__item {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;

    &-icon {
      width: 80px;
    }

    &-desc {
      margin-top: 40px;
    }
  }

  &__form {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;

    &-input {
      flex: 1;
      padding-right: 35px;
      input {
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 16px 20px;
        margin: 0;
        outline: none;
        border-radius: 4px;

      }
    }

    &-button {
      button {
        margin: 0;
        padding: 15px 20px;
        outline: none;
        border-radius: 4px;
        background-color: $mainGreen;
        color: $mainLight;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #fff;
  color: $mainBlack;
  font-size: 18px;

}